.container {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid;
  line-height: 3.5;
  text-align: center;
  /* flex-wrap: wrap; */
}

.box {
  /* align-content: center; */
  color: rgb(238, 235, 235);
}

.box1 {
  background: lime;
  font-size: 0.9rem;
  height: 3rem;
  width: 5rem;
  /* flex-basis: 5%; */
  /* flex: 1; */
}

.box2 {
  background: lightskyblue;
  font-size: 2rem;
  height: 5rem;
  width: 7rem;
  line-height: 2.5;
  /* flex-basis: 15%; */
  /* flex: 1; */
}

.box3 {
  background: darkblue;
  font-size: 3.8rem;
  height: 8rem;
  width: 10rem;
  line-height: 2;
  /* flex-basis: 30%; */
  /* flex: 1; */
}

.box4 {
  background: darkmagenta;
  font-size: 2rem;
  height: 5rem;
  width: 7rem;
  line-height: 2.5;
  /* flex-basis: 15%; */
  /* flex: 1; */
}

.box5 {
  background: darkorange;
  font-size: 0.9rem;
  height: 3rem;
  width: 5rem;
  /* flex-basis: 5%; */
  /* flex: 1; */
}
